<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>MinimumOSVersion</key>
        <string>13.0</string>
        <key>CFBundleIdentifier</key>
        <string>org.hoppe.--PRODUCT-NAME-rfc1034identifier-</string>
        <key>UISupportedDevices</key>
        <array>
            <string>iPhone10,1</string>
            <string>iPhone10,4</string>
            <string>iPhone12,8</string>
            <string>iPhone9,1</string>
            <string>iPhone9,3</string>
        </array>
        <key>CFBundleSupportedPlatforms</key>
        <array>
            <string>iPhoneOS</string>
        </array>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>arm64</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UIDeviceFamily</key>
        <array>
            <integer>1</integer>
        </array>
        <key>DTPlatformName</key>
        <string>iphoneos</string>
    </dict>
</plist>